[[source]] 
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
Flask-Migrate = "*"
flask-marshmallow = "*"
sqlalchemy-utils = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
pipenv = "*"
geopy = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.9"
